<%- include ('partials/header') %>

<h1>Home</h1>

<%= homeContent %>
<!--posts loop-->
<% posts.forEach(p => { %>
<h2 class="text-secondary my-2"><%= p.title %></h2>
<p>
  <%= p.body.substring(0,100) %>... <a href="posts/<%=p.title%>">Read More</a>
</p>
<% }) %>

<!--footer-->
<%- include ('partials/footer') %>
